body {
  background: rgb(237, 250, 250);
}

.App {
  text-align: center;
}

.gallery {
  margin: 10%;
  padding: 0 2% 5% 2%;
  border-radius: 10px;
  background: whitesmoke;

  box-shadow: -1px 1px 33px 20px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -1px 1px 33px 20px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -1px 1px 33px 20px rgba(0, 0, 0, 0.26);
}

.nav {
  border-bottom: 1px solid black;
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.image-item img {
  width: 100%;

  border: 1px solid black;
  border-radius: 10px;
}

.delete {
  color: red;
  cursor: pointer;
}
